# This workflow is triggered when a GitHub release is created.
# It can also be run manually to re-publish to JFrog in case it failed for some reason.
# You can run this workflow by navigating to https://www.github.com/hiddenlayer-engineering/hiddenlayer-sdk-python/actions/workflows/publish-jfrog.yml
name: Publish to JFrog
on:
  workflow_dispatch:

jobs:
  publish:
    name: publish
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Install Rye
        run: |
          curl -sSf https://rye.astral.sh/get | bash
          echo "$HOME/.rye/shims" >> $GITHUB_PATH
        env:
          RYE_VERSION: '0.44.0'
          RYE_INSTALL_OPTION: '--yes'

      - name: Install twine
        run: |
          pip install twine

      - name: Publish to JFrog
        run: |
          bash ./bin/publish-jfrog
        env:
          JFROG_TOKEN: ${{ secrets.JFROG_TOKEN }}
          JFROG_USER: ${{ vars.JFROG_USER }}
